
.button{
	background-color: red;
	border: 2px solid red;
  padding: 10px;
  border-radius: 40px;
      margin-right: 268px;
      margin-left: 584px;
}
.best{
	margin-top: 90px;

}
.fakeimg{
	grid-gap: 1000px;
}
